@model lab7.ViewModels.StudentIndexViewModel
@{
    ViewBag.Title = "Student List";
}

<h2>Student List</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "Students", FormMethod.Get))
    {
        <div>
            <label>Search:</label>
            @Html.TextBoxFor(m => m.Search)
            <label>Filter by Campus:</label>
            @Html.DropDownListFor(m => m.Campus, Model.CampusFilterItems, "All Campuses")
            <input type="submit" value="Search" />
        </div>
    }
</p>

<table class="table">
    <tr>
        <th>Campus</th>
        <th>Name</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    @foreach (var student in Model.Students)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => student.Campus.Name)</td>
            <td>@Html.DisplayFor(modelItem => student.Name)</td>
            <td>@Html.DisplayFor(modelItem => student.Address)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = student.ID }) |
                @Html.ActionLink("Details", "Details", new { id = student.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = student.ID })
            </td>
        </tr>
    }
</table>